* { user-select: none }

body {
	background: #444;
	color: #FFF;
	font-family: sans-serif;
}

#status {
	position: absolute;
	z-index: 100;
	top: 8px;
	left: 0;
	right: 0;
	text-align: center;
}

#page {
	z-index: 0; position: absolute;
	margin: 0; padding: 0;
	top: 0; left: 0; right: 0; bottom: 0;
}

#objects, #control {
	z-index: 100;
	position: absolute;
	margin: 0; padding: 0;
}

#objects {
	top: 8px, left: 8px
}

#objects li, #control input {
	width: 50px;
	padding: 2px 5px;
	list-style: none;
	border: 1px solid black;
	margin-bottom: 2px;
	margin-right: 2px;
	cursor: pointer;
	background: #333;
	color: white;
}

.object {
	z-index: 50;
	padding: 10px 20px;
	border: 1px solid black;
	position: fixed;
	background: #333;
	cursor: default;
}
._jsPlumb_endpoint { z-index: 40; }
.ui-selecting { background: #666; }
.ui-selected { background: #555; }

#control {
	bottom: 8px; left: 8px;
}

.label {
	font-size: 10px;
	margin-left: -10px;
	margin-top: -10px;
}
